*{
    margin: 0px;
}

body{
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
#userImage{
    width: 120px;
    border-radius: 100px;
    /* height: 128px; */
    /* display: flex; */
    /* align-self: center; */
    position: relative;
    top: 36px;
    left: 58px;
}
.containerBlock{    
    min-height: 760px;
    margin: 0px;
    text-align: center;
    background-image: url("./Assets/bg5.jpg");
    /* background-repeat: no-repeat; */
    /* background-position-x: right;  */
    background-size: cover;
    overflow: hidden;
}

#mycanvas{
    background-image: url("./Assets/bg2.jpg");
    border: 10px solid green;
}

.profile{
    /* text-align: -webkit-right; */
}
.rules_LeftRighticons{
    display: flex;
    justify-content: space-evenly;
}
.spaceBarRule{
    padding-top: 40px;
}
.spaceBarImage{
    height: 54px;
    border-radius: 10px;
    width: 136px;
}